@tailwind base;
@tailwind components;
@tailwind utilities;

.location{
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(17 24 39 / var(--tw-border-opacity));
    padding-bottom: 0.25rem;
}

.nonLocation{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}
.nonLocation:hover{
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
}